
<!DoctypeHTML>
<html>
    
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome to my first Site</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;2020
        </footer>
    </body>

</html>
</!DoctypeHTML>